{% extends 'base.html' %}

{% block title %}
    Вход
{% endblock title %}

{% block header %}
    Вход на платформу
{% endblock header %}

{% block body %}
<div class='auth-form'>
    <main class="form-signin">
        <form action="/album_code" method="POST" class="form-contact">
            <div class="form-group">
              <label for="album-code">Код альбома</label>
              <input type="password" name="code" class="form-control" id="album-code" required>
              <button type="submit" class="btn btn-primary">Открыть альбом</button>
            </div>
          </form>
      </main>
</div>


  
{% endblock body %}