{% extends 'base.html' %}

{% block title %}
    Главная страница
{% endblock title %}

{% block header %}
  Наши фотографы
{% endblock header %}}

 {% block body %} 
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      {% for user in users %}
      <div class="col-xl-3 col-md-6 mb-4">
        <a href="{{ url_for('get_user_albums', nickname=user.nickname) }}" class="card border-0 shadow">
          <img src="{{ user.photo_url }}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">{{user.nickname}}</h5>
            {% if user.description != None %}
                <div class="card-text text-black-50">{{ user.description }}</div>
            {% endif %}
            <div class="card-text text-black-100">Рейтинг: {{ user.rating }}</div>
          </div>
        </a>
      </div>
      {% endfor %}
  </div>
</div>
 {% endblock body %}